<div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h3>Eliminar Pokemon</h3>
      <p>¿Estás seguro de eliminar a <b>{{ pokemon.name | titlecase }}</b>?</p>
      <div class="container-buttons">
        <button class="button-close" (click)="closeModal( false )">Close</button>
        <button class="button-confirm" (click)="deletPokemon()">Confirmar</button>
      </div>
      <p *ngIf="successfulProcess != ''" style="color: red;">{{ successfulProcess | titlecase }}!</p>
    </div>
  </div>
</div>

<!-- <div class="modal-overlay">
  <div class="modal-container">
    <div class="modal-header">
      <h3>Nuevo Pokemon</h3>
      <div class="container-info">
        <div class="container-row">
          <div class="field">
            <label for="Nombre:">Nombre:</label>
            <input type="text" placeholder="Nombre Pokemon">
          </div>

        </div>
        <div class="container-row">
          <div class="field">
            <label for="Nombre:">Imagen:</label>
            <input type="text" placeholder="url">
          </div>
        </div>
      </div>

      <div class="container-buttons">
        <button class="button-close" (click)="closeModal()">Close</button>
        <button class="button-confirm" (click)="deletPokemon( pokemon.id )">Confirmar</button>
      </div>
    </div>
  </div>
</div> -->
