<div class="modal">
  <div class="modal__container">
    <div class="modal__header">
      <h3>Eliminar Pokemon</h3>
      <p *ngIf="pokemon">¿Estás seguro de eliminar a <b>{{ pokemon.name | titlecase }}</b>?</p>
      <div class="modal__container-buttons">
        <button class="modal__button-close" (click)="closeModal( false )">Close</button>
        <button class="modal__button-confirm" (click)="deletPokemon()">Confirmar</button>
      </div>
      <p *ngIf="successfulProcess != ''" style="color: red;">{{ successfulProcess | titlecase }}!</p>
    </div>
  </div>
</div>
