/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Roboto', sans-serif;
}

button:hover {
  opacity: .8;
  cursor: pointer;
  transition: opacity ease-in-out .25s;
}

@import "assets/styles/_main.scss";
